<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part_category.name %>
</p>

<%= link_to 'Edit', edit_part_category_path(@part_category) %> |
<%= link_to 'Back', part_categories_path %>
