
Monk Makes is a UK-based maufacturer of electronic kits and modules to support the Education and Maker communities.

Our products are assembled in the UK and shipped throught the world through our network of resellers.

You should find a retailer near you in the following list. 

If you are interested in becoming a retailer, then please email linda@monkmakes.com



<%
    country = ''
    Retailer.order(:billing_ad_country).each do | retailer |
        if (not retailer.is_retail and retailer.active and retailer.logo_url and retailer.logo_url.length > 1)
            if (retailer.billing_ad_country != country)
                country = retailer.billing_ad_country
%>

<h1><%=country%></h1>

<%
            end
%>

<a href='<%=retailer.mm_products_url%>'><img src="<%=retailer.logo_url%>" class="wp-image-1739 alignright" width="150"/></a>


<%
        end 
    end 
%>

