
Monk Makes is a UK-based maufacturer of electronic kits and modules to support the Education and Maker communities.

Our products are assembled in the UK and shipped throught the world through our network of resellers.

You should find a retailer near you in the following list. 

If you are interested in becoming a retailer, then please email linda@monkmakes.com


<%
regions = Region.all()

regions.each do | region |
    if (region.wholesale_customers and region.wholesale_customers.length() > 0)
%>
    <h1><%=region.name%></h1>
<%
    region.wholesale_customers.each do | retailer |
%>

<a href='<%=retailer.mm_products_url%>'><img src="<%=retailer.logo_url%>" class="wp-image-1739 alignright" width="150"/></a>


<%
        end 
    end 
%>
</hr>
<%
end
%>
