
Monk Makes is a UK-based manufacturer of electronic kits and modules to support the Education and Maker communities.

Our products are assembled in the UK and shipped throughout the world through our network of resellers.

You should find a retailer near you in the following list. 

If you are interested in becoming a retailer, then please email linda@monkmakes.com



<%
    country = ''
    retailers = Retailer.all
    retailers = retailers.sort_by{|a| -a.shipments.length}
    retailers = retailers.sort_by{|a| a.billing_ad_country}
    retailers.each do | retailer |
        if (not retailer.is_retail and retailer.active and retailer.logo_url and retailer.logo_url.length > 1)
            if (retailer.billing_ad_country != country)
                country = retailer.billing_ad_country
%>
<br/>
<br/>
<hr/>
<h1><%=country%></h1>

<%
            end
%>

<a href='<%=retailer.mm_products_url%>'><img src="<%=retailer.logo_url%>" width="150"/></a>


<%
        end 
    end 
%>

