<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="MonkMakes is a manufacturer of electronic educational kits and add-ons for BBC micro:bit, Raspberry Pi and Arduino">
  <meta name="keywords" content="electronics, micro:bit, raspberry pi, arduino, maker, educator, stem, steam">
  <meta name="author" content="Simon Monk">

  <title>micro:bit - electronic kits | MonkMakes</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/montserrat.css" rel="stylesheet" type="text/css">
  <link href="vendor/lato.css" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67808947-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-67808947-1');
  </script>


</head>