<h1>Website Generator</h1>

<p>Build a deployable set of static files for your website, based on the product and retailer data in this system.</p>

<h2>Home Page Settings</h2>

<table>
<tr>
    <td>Strapline</td><td><%=Website.strap_line%></td>

</tr>

</table>

<h2>Generated files go to /tmp/website</h2>


<div id="app">
    <div>
        <button type="button" v-on:click="generate_files" class="btn btn-primary">Generate Files</button>
    </div>
    <div>
        <button type="button" v-on:click="upload_files" class="btn btn-primary">Upload to Live Server</button>
    </div>
    <div><pre>{{status}}</pre></div>
    <div>
        <p>Paste the link below into a browser tab for preview</p>
        <p>file://<%=Setting.get_setting('TEMP_DIR')%>website/index.html</p>
    </div>
</div>




<script>
window.onload = function () {
    var app = new Vue({
        el: '#app',
        data: {
          status: '',

        },
        mounted: function() {
          var that;
        },
        methods: {
            generate_files: function() {
                var that;
                that = this;
                this.status = 'Generating:'
                $.ajax({
                    url: 'website/generate_files',
                    success: function(res) {
                        that.status = res.result
                    }
                });
            },
            upload_files: function() {
                var that;
                that = this;
                this.status = 'Uploading:'
                $.ajax({
                    url: 'website/upload_files',
                    success: function(res) {
                        that.status = res.result
                    }
                });
            },
        }
    });
}

</script>
    