<script>
$(function() {
    $('#edit_product_<%=@product.id%>').areYouSure();
});   
</script>

<h1>Product: <%= @product.name %> </h1>

<%= render 'form', product: @product %> 

<%= render 'form_parts_assemblies', product: @product %> 