<style>

@page {
    margin-top: 2.5cm;
 }
    
.smallprint {
    text-align: left;
    margin-top: 2px;  
    margin-bottom: 2px;  
    font: 12px arial, sans-serif;
}
    
h1 {
    text-align: left;
    margin-top: 2px;  
    margin-left: 20px;
    margin-bottom: 2px;  
    font: 36px arial, bold, sans-serif;
}   
    
.cat_heading {
    text-align: left;
    margin-top: 12px;  
    margin-bottom: 6px;  
    font: 32px arial, bold, sans-serif;
    page-break-before:always;
}   
    
.cat_heading_first {
    text-align: left;
    margin-top: 12px;  
    margin-bottom: 6px;  
    font: 32px arial, bold, sans-serif;
}   
    
h2 {
    text-align: center;
    margin-top: 2px;  
    margin-bottom: 2px;  
    font: 36px arial, bold, sans-serif;
}    
    
h3 {
    text-align: left;
    margin-top: 12px;  
    margin-bottom: 6px;  
    font: 32px arial, bold, sans-serif;
    page-break-before:always;
}       
    
table {
    border-collapse: collapse;
}
    
td {
    vertical-align: top;  
}
    
th {
    text-align: left;
    vertical-align: top;  
    font: bold;
    padding-right: 20px;
}
    
tr {
    page-break-inside: avoid;
}
    
    
    
.prod_table_th {
    border: 1px solid black;   
    text-align: left;
    padding: 3;
    font: bold 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_th_right {
    border: 1px solid black;   
    text-align: right;
    padding: 3;
    font: bold 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_td { 
    text-align: left;
    padding: 3;
    font: 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_td_money {
    text-align: right;
    padding: 3;
    font: 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}  
    
.new_product {
    padding: 0;
}    

</style>



<h3>High Resolution Images</h3>
<p>If you are listing our products, then please take anything you need from our website, 
including the web-sized images. If you require higher resolution images then please use the following links. 
Files with 'web' in the name are low resolution images the others are high resolution.</p>
<p>Please note that some of the images show products in use and therefore shopw things that are 
not actually included as part of the product. Images with the word 'main' in their name 
show the product and only the product.</p>

<table border="1">
<tr><th>SKU</th><th>Name</th><th>Link for high res images</th></tr>
<%
Product.where(include_in_catalog: true).order(sku: :asc).each do | product |
    if (product.include_in_catalog)
%>
<tr><td><%=product.sku%></td><td><%=product.name%></td><td><%=product.high_res_image_share%></td></tr>
<% end end %>
</table>
