<style>
table.barby-barcode { border-spacing: 0; width: 50}
tr.barby-row {}
td.barby-cell { width: 3px; height: 80px; }
td.barby-cell.on { background: #000; }

h1 {
    font-size: 50px;
}

</style>


<h2><%=@product.name%></h2>

<h1><%=@product.sku%></h1>
