<style>

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

</style>
    
<h1>Angular version</h1>


<p></p>

<i class="priorityInProgress">In progress</i>
<i class="priorityAwaitingPayment">Awaiting payment</i>
<i class="priorityPaid">Paid and complete</i>
<i class="priorityOverdue">Overdue</i>

<p></p>


<div ng-app="myApp" ng-controller="shipmentsCtrl">
    
    <h1 id="spinner" style="display:none;">Loading...</h1>
    
<table border="1">
  <tr>
    <th ng-click="sortBy('priority')">Status
      <span class="sortorder" ng-show="propertyName === 'priority'" ng-class="{reverse: reverse}"></span></th>
    <th ng-click="sortBy('invoice_number')">Invoice Number
      <span class="sortorder" ng-show="propertyName === 'invoice_number'" ng-class="{reverse: reverse}"></span></th>
    <th ng-click="sortBy('retailer_name')">Retailer
      <span class="sortorder" ng-show="propertyName === 'retailer_name'" ng-class="{reverse: reverse}"></span></th>
    <th ng-click="sortBy('total_invoice_amount')">Invoice Amount
      <span class="sortorder" ng-show="propertyName === 'total_invoice_amount'" ng-class="{reverse: reverse}"></span></th>
  </tr>
  <tr ng-repeat="x in shipments | orderBy:propertyName:reverse" class="priority{{x.priority}}">
    <td>{{x.priority}}</td>
    <td>{{x.invoice_number}}</td>
    <td>{{x.retailer_name}}</td>
    <td>{{x.total_invoice_amount}}</td>
    <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
    <td><a href="/shipments/invoice/<%= shipment.invoice_number%>?id=<%= shipment.id %>">Invoice</a></td>
    <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

</div>

<script>
$("#spinner").show();
var app = angular.module('myApp', []);
app.controller('shipmentsCtrl', function($scope, $http) {
    $("#spinner").show();
    $http.get("/shipments/get_shipments").then(
        function(response) {
            $scope.shipments = response.data;
            $("#spinner").hide();
    });
    $scope.sortBy = function(propertyName) {
        $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
        $scope.propertyName = propertyName;
    };
});
</script>