<style>
table.barby-barcode { border-spacing: 0; width: 50}
tr.barby-row {}
td.barby-cell { width: 3px; height: 80px; }
td.barby-cell.on { background: #000; }

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

</style>

<%
require 'barby'
require 'barby/barcode/code_128'
require 'barby/outputter/html_outputter'

barcode_txt = @assembly.stock_name

barcode = Barby::Code128B.new(barcode_txt)
outputter = Barby::HtmlOutputter.new(barcode)
%>

<h1><%=@assembly.name%></h1>

<%= barcode.to_html.html_safe %>

<h2><%=barcode_txt%></h2>